#gallerybox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}
#gallerybox > span {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  z-index: 1;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #ccc;
  cursor: pointer;
}

#gb-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#gb-big {
  position: absolute;
}

#gb-list {
  position: absolute;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  padding: 0 20px;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
}
#gb-list:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#gb-list > .left,
#gb-list > .right {
  position: fixed;
  width: 30px;
  height: 150px;
  bottom: 0;
  line-height: 150px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.9);
  cursor: pointer;
  font-size: 20px;
}
#gb-list > .left {
  left: 0;
  border-radius: 0;
}
#gb-list > .right {
  right: 0;
  border-radius: 0;
}
#gb-list > img {
  vertical-align: middle;
  margin: 0 1em;
  max-height: 75%;
  cursor: pointer;
}