html,
body {
    position: relative;
    height: 100%;
}

#banner {
    &.swiper-container {
        width: 100%;
        height: 100%;
        background: #000;
    }
    &.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        width: 20px;
    }
    &.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
        background: $white;
        opacity: 0.7;
        width: 14px;
        height: 14px;
        margin: 10px 0;
        &:after {
            background: #fff;
            height: 15px;
            width: 1px;
        }
    }
    &.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
        opacity: 1;
    }
    &.swiper-container-vertical>.swiper-pagination-bullets {
        right: 8%;
        @media only screen and (max-width: 500px){
            right: 4%;
        }
    }
    .sub-heading {
        font-size: 16px;
        letter-spacing: 4px;
        line-height: 22px;
        color: $white;
    }
    .heading {
        letter-spacing: 40px;
        line-height: 48px;
        color: $white;
        font-weight: 900;
        font-size: 35px;
        text-transform: uppercase;
    }
    @media only screen and (max-width: 768px){
        .heading{
            letter-spacing: 18px;
            font-size: 22px;
        }
    }
}

#event-list {

    &:before {
        content: "";
        position: fixed;
        top: -5%;
        left: -5%;
        right: 0;
        bottom: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;

        background-size: cover;
        background-color: white;
        background-blend-mode: multiply, luminosity;
        -webkit-filter: blur(15px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }
    .date-slider {
        margin-top: 50px;
        margin-bottom: 30px;
        .nav-link {
            color: $white;
            &.active {
                background: #161616;

                width: 70px;
                margin: auto;
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            background-size: 12px 44px;
        }
    }
    .event-list {
        border-right: 2px solid rgba(51, 51, 51, 0.45);
        .nav-link {
            margin-bottom: 15px;
            padding: 15px 0;
            position: relative;
            &.active {
                background: transparent;
                &:after {
                    content: " ";
                    width: 0px;
                    height: 2px;
                    background: rgba(255, 255, 255, 0.18);
                    position: absolute;
                    top: 47%;
                    right: -10px;
                    -webkit-animation: increase 1s;
                    -moz-animation: increase 1s;
                    -o-animation: increase 1s;
                    animation: increase 1s;
                    animation-fill-mode: forwards;

                    @media only screen and (max-width: 768px){
                        transform: rotate(90deg);
                        top: 100%;
                        left: 20px;
                    }
                    @media only screen and (max-width: 500px){
                        left: 29px;
                    }
                }
                img {
                    border: 3px solid #880202;
                }
                .circle {
                    background: #880202;
                    border: 1px solid $white;
                }
            }
            .circle {
                width: 14px;
                height: 14px;
                background: rgb(51, 51, 51);
                position: absolute;
                right: -23px;
                top: 42%;
                border-radius: 50%;

                @media only screen and (max-width: 768px){
                    transform: translate(-68px,60px);
                }
                    
            }
            @media only screen and (max-width: 768px){
                width: 14%;
            }
            @media only screen and (max-width: 500px){
                width: 30%;
            }
        }
        @media only screen and (max-width: 768px){
            border: none;
            border-bottom: 2px solid rgba(51, 51, 51, 0.45);
        }
    }
    .event-des {
        .event-box {
            padding: 40px;
            background: rgba(255, 255, 255, 0.08);
            color: $white;
            font-family: 'AvenirLight';
            letter-spacing: 0;
            .event-date {
                position: relative;
                margin-bottom: 35px;
                font-family: 'AvenirHeavy';
                h3 {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -6px;
                    font-size: 40px;
                    line-height: 28px;
                    font-weight: 900;
                    -webkit-text-fill-color: rgba(0, 0, 0, 0.4);
                    -webkit-background-clip: text;
                    z-index: -1;
                    color: #0b0201;
                    
                }
                h5 {
                    color: $white;
                }
            }
            
        }
    }
}

#venues{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #050100;
    .details{
        position: absolute;
        right: 12%;
        color: $white;

        .heading{
            font-size: 2.2rem;
            color: $white;
            margin-bottom: 0;
            text-transform: uppercase;
            text-align: right;
            font-family: 'AvenirHeavy';
        }
    }
    .venues{
        padding-top: 100px;
        padding-bottom: 100px;
        @media only screen and (max-width: 500px){
            padding-top: 35px;
            padding-bottom: 35px;
        }
    }
    .swiper-pagination-bullet-active{
        background: $white;
    }
    .swiper-pagination-bullet{
        border: 1px solid $white;
        width: 13px;
        height: 13px;
    }
    .swiper-slide{
        opacity: 0.5;
        .images{opacity: 0.5;}
        &.swiper-slide-active{
            opacity: 1;
            .images{opacity: 0.6;}
        }
    }
    
}

#contact{
    background-color: #171717;
    .ctn-title{
        color: #B2B2B2;
        font-family: 'AvenirHeavy';
        margin-bottom: 30px;
    }
    .address{
        color: #848484;
        letter-spacing: 0;
    }
    a{color: #848484;text-decoration: none;}
    .title{margin-bottom: 30px;}
    .fa{font-size: 18px !important;}
}

#gallery{
    background-color: #050100;
    padding-bottom: 30px;
    .grid-container{
      display: grid;
      display: -ms-grid;
      grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
      -ms-grid-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
      grid-template-rows: auto 3fr;
      -ms-grid-rows:auto 3fr;
      grid-template-areas:
      "one two three four"
      "one five six seven";
      font-size:25px;
      align-items: center;
      a{
        transition: all ease 0.3s;
        &:hover{
            opacity: 0.3;
            transition: all ease 0.3s;
        }
      }
  }
  .one{
      grid-row:1/5;
      -ms-grid-row: 1/5;
      padding:10px;
  }
  .two{
      grid-row:1/3;
      -ms-grid-row: 1/3;
      padding:10px;
  }
  .three{
      grid-row:1/3;
      -ms-grid-row: 1/3;
      padding:10px;
  }
  .four{
      grid-row:1/3;
      -ms-grid-row: 1/3;
      padding:10px;
  }
  .five{
      grid-row:1/5;
      -ms-grid-row: 1/5;
      padding:10px;
  }
  .sub{
      padding:10px;
  }
  [class*='col-']{
    margin-bottom: 15px;
  }

}





