@font-face {
  font-family: 'AvenirHeavy';
  src: url("../fonts/Avenir-Heavy.woff") format("woff"); }
@font-face {
  font-family: 'AvenirLight';
  src: url("../fonts/Avenir-Light.woff") format("woff"); }
@font-face {
  font-family: 'AvenirMedium';
  src: url("../fonts/Avenir-Medium.woff") format("woff"); }
body {
  font-family: 'AvenirMedium';
  letter-spacing: 3px;
  line-height: 19px;
  font-size: 14px;
  background-color: #000;
  animation-name: fade-in;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s; }

.clr-white {
  color: #fff; }

.black-gradient {
  background: linear-gradient(transparent, transparent, black);
  background: -webkit-linear-gradient(transparent, transparent, black);
  background: -o-linear-gradient(transparent, transparent, black);
  background: -moz-linear-gradient(transparent, transparent, black); }

.m-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.m-tb-60 {
  margin-top: 60px;
  margin-bottom: 60px; }

.pad-tb-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.pad-tb-60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.pad-lr-60 {
  padding-left: 60px;
  padding-right: 60px; }

.mb-30 {
  margin-bottom: 30px; }

.fa {
  font-size: 40px !important; }

.title {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 34px;
  line-height: 41px;
  color: #fff;
  margin-left: 30px;
  text-transform: uppercase; }

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important; }

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.animated.infinite {
  animation-iteration-count: infinite; }

.animated.hinge {
  animation-duration: 2s; }

.btn {
  cursor: pointer; }

.btn-outline-secondary {
  font-size: 18px;
  color: #fff;
  padding: 10px 68px;
  border-radius: 8px; }
  .btn-outline-secondary:hover, .btn-outline-secondary:focus {
    background: #fff;
    color: #000; }
  @media only screen and (max-width: 320px) {
    .btn-outline-secondary {
      padding: 10px 46px; } }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background-color: #2d2d2d;
  border-radius: 15px; }

.view-more {
  padding: 5px 20px;
  background: #B00707;
  color: #fff;
  border-radius: 15px;
  text-decoration: none; }
  .view-more:hover {
    text-decoration: none;
    color: #fff; }

.modal {
  z-index: 99999999; }

.form {
  margin: 30px;
  padding: 30px;
  border: 1px solid #6f6f6f; }
  .form .heading {
    position: relative;
    top: -45px;
    background: #060606;
    width: 240px;
    margin: auto;
    color: #fff;
    letter-spacing: 45px; }
    .form .heading h3 {
      margin-left: 20px; }
  .form .form-control {
    background: transparent;
    border-radius: 0px;
    border-bottom: 1px solid #9D0000;
    margin-bottom: 30px;
    outline: none;
    color: #fff; }
    .form .form-control:focus, .form .form-control:active, .form .form-control:visited {
      outline: none;
      border-color: #9D0000; }
  @media (max-width: 500px) {
    .form {
      margin: 35px 5px;
      padding: 30px 5px; } }

#contactus .form {
  margin: 0px;
  padding: 30px 0px;
  border: none; }
#contactus .title {
  margin: 0 0 60px 0; }
#contactus .address {
  margin-top: 30px; }
  #contactus .address h4 {
    margin-bottom: 15px;
    font-size: 15px;
    letter-spacing: 0px;
    color: #ababab; }
  #contactus .address a {
    text-decoration: none;
    color: #585858; }
  #contactus .address p {
    font-size: 14px;
    letter-spacing: 0px;
    color: #585858;
    margin: 0px; }

@-webkit-keyframes increase {
  100% {
    width: 82px; } }
@keyframes increase {
  100% {
    width: 82px; } }
@-webkit-keyframes increase-inner {
  100% {
    width: 42%; } }
@keyframes increase-inner {
  100% {
    width: 42%; } }
/* Animation */
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.main-logo {
  margin: auto;
  display: block; }

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto; }
  @media (max-width: 768px) {
    .modal-dialog {
      min-height: calc(100vh - 20px); } }

.gallery-popup-slider.modal {
  background: rgba(0, 0, 0, 0.9); }
.gallery-popup-slider .modal-lg {
  max-width: 90%; }
.gallery-popup-slider .modal-content {
  background: transparent; }
.gallery-popup-slider .swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }
.gallery-popup-slider .swiper-slide {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }
.gallery-popup-slider .gallery-top {
  height: 500px;
  width: 100%; }
.gallery-popup-slider .gallery-thumbs {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0; }
.gallery-popup-slider .gallery-thumbs .swiper-slide {
  width: 10%;
  height: 100%;
  opacity: 0.4;
  background-size: cover; }
.gallery-popup-slider .gallery-thumbs .swiper-slide-active {
  opacity: 1; }

@media only screen and (max-width: 768px) {
  @keyframes increase {
    100% {
      width: 50%; } }
  @keyframes increase-inner {
    100% {
      width: 23%; } } }
@media only screen and (max-width: 500px) {
  .title {
    letter-spacing: 18px;
    margin-left: 15px; }

  @keyframes increase {
    100% {
      width: 30%; } }
  @keyframes increase-inner {
    100% {
      width: 32%; } }
  .swiper-slide .row {
    margin: 0; }
    .swiper-slide .row .col-12 {
      padding: 0; }

  .pad-lr-60 {
    padding-left: 30px;
    padding-right: 30px; }

  .pad-tb-60 {
    padding-top: 30px;
    padding-bottom: 30px; } }
@media only screen and (max-width: 360px) {
  .title {
    letter-spacing: 12px; } }
.navigation {
  position: absolute;
  width: 100%;
  z-index: 9999;
  margin-top: 30px;
  padding-left: 60px;
  padding-right: 60px; }
  .navigation .form-inline .btn {
    background: transparent; }
  @media only screen and (max-width: 500px) {
    .navigation {
      padding: 0 15px;
      margin-top: 0px; }
      .navigation img {
        width: 60%; }
      .navigation .navbar {
        padding: 0; } }
  .navigation button {
    padding: 0; }

.nav-popup {
  display: none;
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(4, 4, 4, 0.95); }
  .nav-popup a {
    color: #fff;
    font-size: 36px;
    letter-spacing: 35px;
    padding: 30px;
    display: block;
    text-decoration: none; }
  .nav-popup .social {
    position: absolute;
    bottom: 0;
    right: 0; }
  @media only screen and (max-width: 768px) {
    .nav-popup a {
      letter-spacing: 15px; } }
  @media only screen and (max-width: 500px) {
    .nav-popup .h-100 {
      height: 68% !important;
      width: 100%; }
    .nav-popup a {
      letter-spacing: 8px;
      font-size: 25px; }
    .nav-popup .social a {
      padding: 5px; }
    .nav-popup .row {
      margin: 10px 15px; }
    .nav-popup .logo {
      width: 60%; } }
  @media only screen and (max-width: 320px) {
    .nav-popup a {
      letter-spacing: 5px; } }

footer {
  background: #1D1D1D; }
  footer .footer {
    padding: 30px 60px;
    text-transform: uppercase; }
    footer .footer a {
      color: #fff;
      text-decoration: none; }
  @media only screen and (max-width: 768px) {
    footer .ml-5 {
      margin-left: 1rem !important; }
    footer .ml-2 {
      margin-left: 0.3rem !important; } }
  @media only screen and (max-width: 500px) {
    footer .footer {
      padding: 15px 0; }
      footer .footer a {
        font-size: 12px;
        margin: 0 5px 0 5px !important; }
    footer .flex-end {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; } }
  @media only screen and (max-width: 360px) {
    footer .footer a {
      font-size: 10px; } }

html,
body {
  position: relative;
  height: 100%; }

#banner.swiper-container {
  width: 100%;
  height: 100%;
  background: #000; }
#banner.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  width: 20px; }
#banner.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.7;
  width: 14px;
  height: 14px;
  margin: 10px 0; }
  #banner.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet:after {
    background: #fff;
    height: 15px;
    width: 1px; }
#banner.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  opacity: 1; }
#banner.swiper-container-vertical > .swiper-pagination-bullets {
  right: 8%; }
  @media only screen and (max-width: 500px) {
    #banner.swiper-container-vertical > .swiper-pagination-bullets {
      right: 4%; } }
#banner .sub-heading {
  font-size: 16px;
  letter-spacing: 4px;
  line-height: 22px;
  color: #fff; }
#banner .heading {
  letter-spacing: 40px;
  line-height: 48px;
  color: #fff;
  font-weight: 900;
  font-size: 35px;
  text-transform: uppercase; }
@media only screen and (max-width: 768px) {
  #banner .heading {
    letter-spacing: 18px;
    font-size: 22px; } }

#event-list:before {
  content: "";
  position: fixed;
  top: -5%;
  left: -5%;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: white;
  background-blend-mode: multiply, luminosity;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px); }
#event-list .date-slider {
  margin-top: 50px;
  margin-bottom: 30px; }
  #event-list .date-slider .nav-link {
    color: #fff; }
    #event-list .date-slider .nav-link.active {
      background: #161616;
      width: 70px;
      margin: auto; }
  #event-list .date-slider .swiper-button-next,
  #event-list .date-slider .swiper-button-prev {
    background-size: 12px 44px; }
#event-list .event-list {
  border-right: 2px solid rgba(51, 51, 51, 0.45); }
  #event-list .event-list .nav-link {
    margin-bottom: 15px;
    padding: 15px 0;
    position: relative; }
    #event-list .event-list .nav-link.active {
      background: transparent; }
      #event-list .event-list .nav-link.active:after {
        content: " ";
        width: 0px;
        height: 2px;
        background: rgba(255, 255, 255, 0.18);
        position: absolute;
        top: 47%;
        right: -10px;
        -webkit-animation: increase 1s;
        -moz-animation: increase 1s;
        -o-animation: increase 1s;
        animation: increase 1s;
        animation-fill-mode: forwards; }
        @media only screen and (max-width: 768px) {
          #event-list .event-list .nav-link.active:after {
            transform: rotate(90deg);
            top: 100%;
            left: 20px; } }
        @media only screen and (max-width: 500px) {
          #event-list .event-list .nav-link.active:after {
            left: 29px; } }
      #event-list .event-list .nav-link.active img {
        border: 3px solid #880202; }
      #event-list .event-list .nav-link.active .circle {
        background: #880202;
        border: 1px solid #fff; }
    #event-list .event-list .nav-link .circle {
      width: 14px;
      height: 14px;
      background: #333333;
      position: absolute;
      right: -23px;
      top: 42%;
      border-radius: 50%; }
      @media only screen and (max-width: 768px) {
        #event-list .event-list .nav-link .circle {
          transform: translate(-68px, 60px); } }
    @media only screen and (max-width: 768px) {
      #event-list .event-list .nav-link {
        width: 14%; } }
    @media only screen and (max-width: 500px) {
      #event-list .event-list .nav-link {
        width: 30%; } }
  @media only screen and (max-width: 768px) {
    #event-list .event-list {
      border: none;
      border-bottom: 2px solid rgba(51, 51, 51, 0.45); } }
#event-list .event-des .event-box {
  padding: 40px;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: 'AvenirLight';
  letter-spacing: 0; }
  #event-list .event-des .event-box .event-date {
    position: relative;
    margin-bottom: 35px;
    font-family: 'AvenirHeavy'; }
    #event-list .event-des .event-box .event-date h3 {
      position: absolute;
      left: 0;
      right: 0;
      top: -6px;
      font-size: 40px;
      line-height: 28px;
      font-weight: 900;
      -webkit-text-fill-color: rgba(0, 0, 0, 0.4);
      -webkit-background-clip: text;
      z-index: -1;
      color: #0b0201; }
    #event-list .event-des .event-box .event-date h5 {
      color: #fff; }

#venues {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #050100; }
  #venues .details {
    position: absolute;
    right: 12%;
    color: #fff; }
    #venues .details .heading {
      font-size: 2.2rem;
      color: #fff;
      margin-bottom: 0;
      text-transform: uppercase;
      text-align: right;
      font-family: 'AvenirHeavy'; }
  #venues .venues {
    padding-top: 100px;
    padding-bottom: 100px; }
    @media only screen and (max-width: 500px) {
      #venues .venues {
        padding-top: 35px;
        padding-bottom: 35px; } }
  #venues .swiper-pagination-bullet-active {
    background: #fff; }
  #venues .swiper-pagination-bullet {
    border: 1px solid #fff;
    width: 13px;
    height: 13px; }
  #venues .swiper-slide {
    opacity: 0.5; }
    #venues .swiper-slide .images {
      opacity: 0.5; }
    #venues .swiper-slide.swiper-slide-active {
      opacity: 1; }
      #venues .swiper-slide.swiper-slide-active .images {
        opacity: 0.6; }

#contact {
  background-color: #171717; }
  #contact .ctn-title {
    color: #B2B2B2;
    font-family: 'AvenirHeavy';
    margin-bottom: 30px; }
  #contact .address {
    color: #848484;
    letter-spacing: 0; }
  #contact a {
    color: #848484;
    text-decoration: none; }
  #contact .title {
    margin-bottom: 30px; }
  #contact .fa {
    font-size: 18px !important; }

#gallery {
  background-color: #050100;
  padding-bottom: 30px; }
  #gallery .grid-container {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    -ms-grid-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: auto 3fr;
    -ms-grid-rows: auto 3fr;
    grid-template-areas: "one two three four" "one five six seven";
    font-size: 25px;
    align-items: center; }
    #gallery .grid-container a {
      transition: all ease 0.3s; }
      #gallery .grid-container a:hover {
        opacity: 0.3;
        transition: all ease 0.3s; }
  #gallery .one {
    grid-row: 1/5;
    -ms-grid-row: 1/5;
    padding: 10px; }
  #gallery .two {
    grid-row: 1/3;
    -ms-grid-row: 1/3;
    padding: 10px; }
  #gallery .three {
    grid-row: 1/3;
    -ms-grid-row: 1/3;
    padding: 10px; }
  #gallery .four {
    grid-row: 1/3;
    -ms-grid-row: 1/3;
    padding: 10px; }
  #gallery .five {
    grid-row: 1/5;
    -ms-grid-row: 1/5;
    padding: 10px; }
  #gallery .sub {
    padding: 10px; }
  #gallery [class*='col-'] {
    margin-bottom: 15px; }

#banner .event-details {
  position: absolute;
  bottom: 30%; }
#banner #eventdate {
  margin-top: 8%;
  position: absolute;
  width: 100%; }
  #banner #eventdate p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0; }
  #banner #eventdate h3 {
    font-size: 45px;
    font-family: 'AvenirHeavy';
    color: rgba(255, 255, 255, 0.8); }
  #banner #eventdate .col-2 {
    border-right: 1px solid rgba(255, 255, 255, 0.5); }
    #banner #eventdate .col-2:last-child {
      border: none; }
  #banner #eventdate .time {
    color: #fff; }
  @media only screen and (max-width: 500px) {
    #banner #eventdate {
      left: 0; }
      #banner #eventdate .time {
        margin-top: 30px;
        text-align: right; } }
  @media only screen and (max-width: 360px) {
    #banner #eventdate h3 {
      font-size: 24px; }
    #banner #eventdate .col-2 {
      padding: 0 6px; }
      #banner #eventdate .col-2 p {
        font-size: 6px; } }

#upcomingEvents .month-slider {
  margin-bottom: 3%; }
#upcomingEvents .swiper-slide a {
  color: #7F7F7F;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 20px;
  opacity: 0.5; }
#upcomingEvents .swiper-slide.swiper-slide-prev a, #upcomingEvents .swiper-slide.swiper-slide-next a {
  font-size: 16px;
  opacity: 1; }
#upcomingEvents .swiper-slide.swiper-slide-active {
  height: 80px; }
  #upcomingEvents .swiper-slide.swiper-slide-active a {
    color: #890002;
    font-family: 'AvenirHeavy';
    font-weight: 900;
    font-size: 22px;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    opacity: 1; }
    @media only screen and (max-width: 500px) {
      #upcomingEvents .swiper-slide.swiper-slide-active a {
        font-size: 15px;
        letter-spacing: 6px; } }
  #upcomingEvents .swiper-slide.swiper-slide-active:after {
    content: "\25BF";
    font-size: 45px;
    color: #fff;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0; }
#upcomingEvents .swiper-button-prev,
#upcomingEvents .swiper-button-next {
  background: rgba(0, 0, 0, 0.85);
  width: 50px;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50%;
  top: 12%; }
#upcomingEvents .swiper-button-prev {
  left: 0; }
#upcomingEvents .swiper-button-next {
  right: 0; }

#event-list-slider .swiper-button-prev,
#event-list-slider .swiper-button-next {
  width: 60px;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50%;
  top: 40%; }
#event-list-slider .swiper-slide-active hr {
  -webkit-animation: increase-inner 1s;
  -moz-animation: increase-inner 1s;
  -o-animation: increase-inner 1s;
  animation: increase-inner 1s;
  animation-fill-mode: forwards; }

.events-box a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 4px;
  margin-bottom: 15px;
  display: block; }
  .events-box a p {
    opacity: 0.8; }
  .events-box a h4 {
    letter-spacing: 0;
    margin-top: 20px;
    font-family: 'AvenirHeavy'; }
  .events-box a hr {
    border-color: #fff;
    width: 20%;
    margin: 4px; }

#event-des .details p {
  color: #D9D9D9;
  margin: 0; }
  @media only screen and (max-width: 500px) {
    #event-des .details p {
      font-size: 10px; } }
@media only screen and (max-width: 500px) {
  #event-des .btn-outline-secondary {
    margin-top: 30px;
    float: none !important;
    display: block; } }

.next-event .heading {
  position: absolute;
  width: 60%;
  top: 22%;
  left: 0;
  color: #fff;
  z-index: 9999; }
  .next-event .heading a {
    text-decoration: none;
    color: #fff; }
  .next-event .heading .next {
    margin-bottom: 50px;
    text-align: center; }
  .next-event .heading .head {
    font-size: 34px;
    opacity: 0.6; }
@media only screen and (max-width: 500px) {
  .next-event .heading .head {
    font-size: 20px; } }

.rsvp-popup .modal-content {
  background: #060606;
  border: 1px solid #5a5a5a;
  border-radius: 0px; }
.rsvp-popup .modal-body {
  padding: 30px; }
  @media (max-width: 500px) {
    .rsvp-popup .modal-body {
      padding: 15px; } }
.rsvp-popup p {
  color: #929292;
  letter-spacing: 0;
  font-size: 16px; }

input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 2rem;
  margin: 0 -2rem -2rem 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 2rem;
  opacity: 0.001; }
  input[type=radio]:focus {
    outline: none;
    border-color: #fff; }

.topcoat-radio-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Background */
.topcoat-radio-button:before {
  content: '';
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: 1px solid #a5a8a8;
  border-radius: 100%;
  cursor: pointer; }

/* Checkmark */
.topcoat-radio-button:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  background: #9D0000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer; }

input[type=radio]:checked + .topcoat-radio-button:after {
  opacity: 1; }

:focus + .topcoat-radio-button:before {
  outline: none; }

#gallerybox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999; }

#gallerybox > span {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  z-index: 1;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #ccc;
  cursor: pointer; }

#gb-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

#gb-big {
  position: absolute; }

#gb-list {
  position: absolute;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  padding: 0 20px;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden; }

#gb-list:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

#gb-list > .left,
#gb-list > .right {
  position: fixed;
  width: 30px;
  height: 150px;
  bottom: 0;
  line-height: 150px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.9);
  cursor: pointer;
  font-size: 20px; }

#gb-list > .left {
  left: 0;
  border-radius: 0; }

#gb-list > .right {
  right: 0;
  border-radius: 0; }

#gb-list > img {
  vertical-align: middle;
  margin: 0 1em;
  max-height: 75%;
  cursor: pointer; }

#about p, #about h3 {
  color: #fff; }
#about p {
  font-family: 'AvenirLight';
  color: #bbb; }
#about .swiper-slide {
  padding-bottom: 50px; }
#about .swiper-pagination {
  text-align: left;
  color: #fff;
  font-size: 20px; }
#about .swiper-pagination-bullet-active {
  background: transparent;
  border-bottom: 2px solid #9D0000;
  border-radius: 0px;
  transition: all ease-in 0.3s;
  -webkit-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s; }
#about .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px; }
#about .swiper-pagination-bullet {
  width: 30px;
  height: 25px; }
#about .team-slider .swiper-button-prev, #about .team-slider .swiper-container-rtl .swiper-button-next {
  left: -30px; }
#about .team-slider .swiper-button-next, #about .team-slider .swiper-container-rtl .swiper-button-prev {
  right: -30px; }
#about .team-slider .swiper-button-next, #about .team-slider .swiper-button-prev {
  background-size: 20px 44px; }
@media only screen and (max-width: 500px) {
  #about .team-slider .swiper-button-prev, #about .team-slider .swiper-container-rtl .swiper-button-next {
    left: 0px; }
  #about .team-slider .swiper-button-next, #about .team-slider .swiper-container-rtl .swiper-button-prev {
    right: 0px; } }

/*# sourceMappingURL=style.css.map */
