#banner {
    .event-details{
        position: absolute;
        bottom: 30%;
    }
    #eventdate {
        margin-top: 8%;
        position: absolute;
        width: 100%;
        p {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.5);
            margin: 0;
        }
        h3 {
            font-size: 45px;
            font-family: 'AvenirHeavy';
            color: rgba(255, 255, 255, 0.8);
        }
        .col-2 {
            border-right: 1px solid rgba(255, 255, 255, 0.5);
            &:last-child {
                border: none;
            }
        }
        .time {
            color: $white;
        }

        @media only screen and (max-width: 500px) {
            left: 0;
            .time {
                margin-top: 30px;
                text-align: right;
            }
        }
        @media only screen and (max-width: 360px) {
            h3 {
                font-size: 24px;
            }
            .col-2 {
                padding: 0 6px;
                p {
                    font-size: 6px;
                }
            }
        }
    }
}

#upcomingEvents {
    .month-slider {
        margin-bottom: 3%;
    }
    .swiper-slide {
        a {
            color: #7F7F7F;
            text-decoration: none;
            font-size: 13px;
            letter-spacing: 20px;
            opacity: 0.5;
        }
        &.swiper-slide-prev,
        &.swiper-slide-next {
            a {
                font-size: 16px;
                opacity: 1;
            }
        }
        &.swiper-slide-active {
            height: 80px;
            a {
                color: #890002;
                font-family: 'AvenirHeavy';
                font-weight: 900;
                font-size: 22px;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -ms-transition: all ease 0.5s;
                opacity: 1;
                @media only screen and (max-width: 500px) {
                    font-size: 15px;
                    letter-spacing: 6px;
                }
            }
            &:after {
                content: "\25BF";
                font-size: 45px;
                color: $white;
                display: block;
                position: absolute;
                width: 100%;
                bottom: 0;
            }
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        background: rgba(0, 0, 0, 0.85);
        width: 50px;
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: 50%;
        top: 12%;
    }
    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next {
        right: 0;
    }
}

#event-list-slider {
    .swiper-button-prev,
    .swiper-button-next {
        width: 60px;
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: 50%;
        top: 40%;
    }
    .swiper-slide-active {
        hr {
            -webkit-animation: increase-inner 1s;
            -moz-animation: increase-inner 1s;
            -o-animation: increase-inner 1s;
            animation: increase-inner 1s;
            animation-fill-mode: forwards;
        }
    }
}

.events-box {
    a {
        text-decoration: none;
        color: $white;
        letter-spacing: 4px;
        margin-bottom: 15px;
        display: block;
        p {
            opacity: 0.8;
        }
        h4 {
            letter-spacing: 0;
            margin-top: 20px;
            font-family: 'AvenirHeavy';
        }
        hr {
            border-color: #fff;
            width: 20%;
            margin: 4px;
        }
    }
}

#event-des {
    .details {
        p {
            color: #D9D9D9;
            margin: 0;
            @media only screen and (max-width: 500px) {
                font-size: 10px;
            }
        }
    }
    @media only screen and (max-width: 500px) {
        .btn-outline-secondary {
            margin-top: 30px;
            float: none !important;
            display: block;
        }
    }
}

.next-event {
    .heading {
        position: absolute;
        width: 60%;
        top: 22%;
        left: 0;
        color: $white;
        z-index: 9999;
        a {
            text-decoration: none;
            color: $white;
        }
        .next {
            margin-bottom: 50px;
            text-align: center;
        }
        .head {
            font-size: 34px;
            opacity: 0.6;
        }
    }
    @media only screen and (max-width: 500px){
        .heading{
            .head{
                font-size: 20px;
            }
        }
        
    }
}

.rsvp-popup{
    
    .modal-content{
        background: #060606;
        border: 1px solid #5a5a5a;
        border-radius: 0px;
    }
    .modal-body{
        padding: 30px;
        @media(max-width: 500px){
            padding: 15px;
        }
    }
    
    p{
        color: #929292;
        letter-spacing: 0;
        font-size: 16px;
    }
}


input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 2rem;
  margin: 0 -2rem -2rem 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 2rem;
  opacity: 0.001;
  &:focus{
    outline: none;
    border-color: $white;
  }
}


.topcoat-radio-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Background */
.topcoat-radio-button:before {
  content: '';
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: 1px solid #a5a8a8;
  border-radius: 100%;
  cursor: pointer;
}

/* Checkmark */
.topcoat-radio-button:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  background: #9D0000;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 100%;
  cursor: pointer;
}

input[type=radio]:checked + .topcoat-radio-button:after {
    opacity: 1;
}

:focus + .topcoat-radio-button:before {
  outline: none;
}
