footer{
	background: #1D1D1D;
	.footer{
		padding: 30px 60px;
		text-transform: uppercase;
		a{
			color: $white;
			text-decoration: none;
		}
	}

	@media only screen and (max-width: 768px){
		.ml-5 {
		    margin-left: 1rem!important;
		}
		.ml-2 {
		    margin-left: 0.3rem!important;
		}
	}

	@media only screen and (max-width: 500px){
		.footer{
			padding: 15px 0;
			a{
				font-size: 12px;
				margin: 0 5px 0 5px !important;
			}
		}
		.flex-end{
			-webkit-box-ordinal-group: 2;
		    -webkit-order: 1;
		    -ms-flex-order: 1;
		    order: 1;
		}
	}

	@media only screen and (max-width: 360px){
		.footer{
			a{
				font-size: 10px;
			}
		}
	}
	
	
}