.navigation{
	position: absolute;
	width: 100%;
	z-index: 9999;
	margin-top: 30px;
	padding-left: 60px;
	padding-right: 60px;
	.form-inline{
		.btn{
			background: transparent;
		}
	}
	@media only screen and (max-width: 500px){
		padding: 0 15px;
		margin-top: 0px;
		img{width: 60%;}
		.navbar{padding: 0;}
	}
	button{padding: 0;}
}
.nav-popup{
	display: none;
	position: fixed;
	top: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background: rgba(4, 4, 4, 0.95);
	a{
		color: #fff;
		font-size: 36px;
		letter-spacing: 35px;
		padding: 30px;
		display: block;
		text-decoration: none;
	}
	.social{
		position: absolute;
	    bottom: 0;
	    right: 0;
	}
	@media only screen and (max-width: 768px){
		a{
			letter-spacing: 15px;
		}
	}
	@media only screen and (max-width: 500px){
		.h-100 {
		    height: 68%!important;
		    width: 100%;
		}
		a{
			letter-spacing: 8px;
			font-size: 25px;
		}
		.social{
			a{
				padding: 5px;
			}
		}
		.row{margin: 10px 15px;}
		.logo{width: 60%;}
	}
	@media only screen and (max-width: 320px){
		a{
			letter-spacing: 5px;
		}
	}
	
}