@font-face {
  font-family: 'AvenirHeavy';
  src: url('../fonts/Avenir-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'AvenirLight';
  src: url('../fonts/Avenir-Light.woff') format('woff');
}
@font-face {
  font-family: 'AvenirMedium';
  src: url('../fonts/Avenir-Medium.woff') format('woff');
}
body{
	font-family: 'AvenirMedium';
	letter-spacing: 3px;
	line-height: 19px;
	font-size: 14px;
	background-color: #000;
  animation-name: fade-in;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
}
$white: #fff;
$black: #000;
$red-btn: #B00707;
.clr-white{color: $white;}
.black-gradient{
  background: linear-gradient(transparent,transparent,black);
  background: -webkit-linear-gradient(transparent,transparent,black);
  background: -o-linear-gradient(transparent,transparent,black);
  background: -moz-linear-gradient(transparent,transparent,black);
}
.m-tb-30{
  margin-top: 30px;
  margin-bottom: 30px;
}
.m-tb-60{
  margin-top: 60px;
  margin-bottom: 60px;
}
.pad-tb-30{
	padding-top: 30px;
	padding-bottom: 30px;
}
.pad-tb-60{
  padding-top: 60px;
  padding-bottom: 60px;
}
.pad-lr-60{
  padding-left: 60px;
  padding-right: 60px;
}
.mb-30{margin-bottom: 30px;}
.fa{font-size: 40px !important;}
.title{
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 34px;
	line-height: 41px;
	color: $white;
  margin-left: 30px;
  text-transform: uppercase;
}
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}
.btn{
  cursor: pointer;
}
.btn-outline-secondary{
	font-size: 18px;
    color: #fff;
    padding: 10px 68px;
    border-radius: 8px;
    &:hover, &:focus{
    	background: $white;
    	color: $black;
    }
    @media only screen and (max-width: 320px){
       padding: 10px 46px;
    }
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #000000;
}

::-webkit-scrollbar
{
  width: 10px;
  // background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
  background-color: #2d2d2d;
  border-radius: 15px;
}
.view-more {
    padding: 5px 20px;
    background: $red-btn;
    color: $white;
    border-radius: 15px;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      color: $white;
    }
}
.modal{
  z-index: 99999999;
}
.form{
    margin: 30px;
    padding: 30px;
    border: 1px solid #6f6f6f;
    .heading{
        position: relative;
        top: -45px;
        background: #060606;
        width: 240px;
        margin: auto;
        color: #fff;
        letter-spacing: 45px;
        h3{
            margin-left: 20px;
        }
    }
    .form-control{
        background: transparent;
        border-radius: 0px;
        border-bottom: 1px solid #9D0000;
        margin-bottom: 30px;
        outline: none;
        color: $white;
        &:focus, &:active, &:visited{
            outline: none;
            border-color: #9D0000;
        }
    }
    @media(max-width: 500px){
        margin: 35px 5px;
        padding: 30px 5px;
    }
}
#contactus{
  .form{
    margin: 0px;
    padding: 30px 0px;
    border:none;
  }
  .title{
    margin: 0 0 60px 0;
  }
  .address{
    margin-top: 30px;
    h4{
      margin-bottom: 15px;
      font-size: 15px;
      letter-spacing: 0px;
      color: #ababab;
    }
    a{text-decoration: none;color: #585858;}
    p{font-size: 14px;letter-spacing: 0px;color: #585858;margin: 0px;}
  }
}
@-webkit-keyframes increase{
  100% {
        width: 82px;
    }
}

@keyframes increase {
    100% {
        width: 82px;
    }
}

@-webkit-keyframes increase-inner {
    100% {
        width: 42%;
    }
}

@keyframes increase-inner {
    100% {
        width: 42%;
    }
}

/* Animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

.main-logo{
    margin: auto;
    display: block;
}
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}
.gallery-popup-slider{
  &.modal{background: rgba(0,0,0,0.9);}
  .modal-lg{max-width: 90%;}
  .modal-content{background: transparent;}
  .swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .gallery-top {
      height: 500px;
      width: 100%;
    }
    .gallery-thumbs {
      height: 100px;
      box-sizing: border-box;
      padding: 10px 0;

    }
    .gallery-thumbs .swiper-slide {
      width: 10%;
      height: 100%;
      opacity: 0.4;
      background-size: cover;
    }
    .gallery-thumbs .swiper-slide-active {
      opacity: 1;
    }
}

@media only screen and (max-width: 768px){
  @keyframes increase {
      100% {
          width: 50%;
      }
  }
  @keyframes increase-inner {
      100% {
          width: 23%;
      }
  }
}

@media only screen and (max-width: 500px){
  .title{
    letter-spacing: 18px;
    margin-left: 15px;
  }
  @keyframes increase {
      100% {
          width: 30%;
      }
  }
  @keyframes increase-inner {
      100% {
          width: 32%;
      }
  }
  .swiper-slide{
    .row{
      margin: 0;
      .col-12{
        padding: 0;
      }
    }
    
  }
  .pad-lr-60{
    padding-left: 30px;
    padding-right: 30px;
  }
  .pad-tb-60{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 360px){
  .title{
    letter-spacing: 12px;
  }
}