#about{
	p, h3{
		color: $white;
	}
	p{
		font-family: 'AvenirLight';
		color: #bbb;
	}
	.swiper-slide{
		padding-bottom: 50px;

	}
	.swiper-pagination{
		text-align: left;
		color: $white;
		font-size: 20px;
	}
	.swiper-pagination-bullet-active{
		background: transparent;
		border-bottom: 2px solid #9D0000;
		border-radius: 0px;
		transition:all ease-in 0.3s;
		-webkit-transition:all ease-in 0.3s;
		-ms-transition:all ease-in 0.3s;
		-o-transition:all ease-in 0.3s;
	}
	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
		margin: 0 10px;
	}
	.swiper-pagination-bullet{
		width: 30px;
		height: 25px;
	}
	.team-slider{
		.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
			left: -30px;
		}
		.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
			right: -30px;
		}
		.swiper-button-next, .swiper-button-prev{
			background-size: 20px 44px;
		}
		@media only screen and (max-width: 500px){
			.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
				left: 0px;
			}
			.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
				right: 0px;
			}

		}

	}
}